header {
  align-items: center;
  justify-content: center;
  background: rgba(139, 22, 139, 0.133);
  margin: 0;
  height: 10vh;
  padding: 0;
  display: flex;
}

// .header__menu-nav {
//   width: 35px;
//   height: 30px;
//   margin-left: auto;
//   margin-right: 10px;
//   border: 1px solid #000;
//   background: no-clip;
// }