body, html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  word-wrap: break-all;
  padding: 0;
  color: red;
}

header {
  align-items: center;
  justify-content: center;
  height: 10vh;
  background: green;
  margin: 0;
  padding: 0;
  display: flex;
}

main {
  margin: 10px;
  padding: 0;
}

footer {
  background: #000;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}