body {
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
}

.iframe-container {
  overflow: hidden;
  height: 100vh - 10vh;
  position: relative;
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}