@import './sections/header';
@import './sections/footer';
@import './sections/slider';

@import './config/helpers';

@import './components/button';
@import './components/menu';

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  word-wrap: break-all;
  padding: 0;
  color: orange;
}

main {
  margin: 10px;
  padding: 0;
}
