doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Webpack demo inline
  body
    h1
      | Title page
    h2
      | Site demo here
      span#showEnv
    p
      | Non in qui ullamco reprehenderit sit aliquip cupidatat. Anim exercitation Lorem excepteur ex dolore nostrud. Reprehenderit culpa cillum qui esse deserunt qui reprehenderit. Ea irure commodo cupidatat aliqua est laboris.