doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Example of page

  body
    header
      h1 Example of page
      nav#menu.header__menu-nav.is-hide
        ul.header__menu-items
          - for (var x = 0; x < 5; x++)
            li.header__menu-item
              a(href="javascript:;") item
          -

      button#menuButton.button.header__menu-button

    include ./includes/slider.pug

    main
      h2
        | De lunes a viernes
        br
        | 12:00 m - 8:00 p. m.

      p Quis ut minim non eiusmod aliqua qui duis incididunt consectetur cupidatat ipsum proident ipsum.

    button.button
      span Enter to my site

    footer
      p Este es el footer
