//- - const baseUrl = self.htmlWebpackPlugin.options.baseUrl
//- - const token = self.htmlWebpackPlugin.options.token

doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Iframe responsive
  body
    header
      h2 Title from organization
        href=`https://dev.golazzos.com/?token_key=mJ6psqPVh52WkuUwiTKoGwtt`
      a.link(
        target='_blank'
        )!= token

    .iframe-container
      //- src=`https://dev.golazzos.com/?token_key=mJ6psqPVh52WkuUwiTKoGwtt`
      iframe(
        src="https://dev.golazzos.com/?token_key=mJ6psqPVh52WkuUwiTKoGwtt"
        frameborder='0'
        height='600'
        )
