doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Demo pug
  body
    h1 Demo pug
    p With live reload

    script(src="http://localhost:35729/livereload.js")