doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Iframe responsive
  body
    header
      h2 Title from organization
    .iframe-container
      iframe(src='http://localhost:3000' frameborder='0')
